---
import Layout from "@/layouts/Layout.astro";
import profileImg from "@/assets/profile.png";
import { Image } from "astro:assets";
import ProjectCard from "@/components/ProjectCard.astro";
import { CircleChevronRight, CircleChevronLeft, Globe } from "lucide-react";
import { getFeaturedProjectUseCase } from "@/server/use-case/project";
import { GithubIcon } from "@/components/svg/SocialIcons";
import { TECH_STACKS } from "@/lib/constants";

const project = await getFeaturedProjectUseCase();
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cardsParent = document.getElementById("cards-parent");
    const projectCards = cardsParent?.querySelectorAll(".projectCard");

    let initialRotation = 0;
    let currFacingCard = 0;

    const autoRemoveDataset = (
      projectCards: Element | undefined,
      dataset: string,
      value: string,
      removeValue: string,
      removeTime: number
    ) => {
      projectCards?.setAttribute(dataset, value);
      setTimeout(() => {
        projectCards?.setAttribute(dataset, removeValue);
      }, removeTime);
    };

    if (projectCards?.[0] && projectCards[0] instanceof HTMLElement) {
      //projectCards[0].classList.add("enter-animation");
      autoRemoveDataset(projectCards[0], "data-enter", "true", "false", 500);
    }
    document.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      const buttonId = target.closest("button")?.id;
      const projectCount = target.closest("button")?.dataset.length || "0";
      const currProjCount = parseInt(projectCount, 10);
      const currentRotationDeg = 360 / currProjCount;
      const style = document.documentElement.style;

      console.log(projectCards);

      if (buttonId === "next") {
        autoRemoveDataset(projectCards?.[currFacingCard], "data-exit", "true", "false", 500);
        currFacingCard = ++currFacingCard % currProjCount;
        Math.floor((initialRotation -= currentRotationDeg));
        autoRemoveDataset(projectCards?.[currFacingCard], "data-enter", "true", "false", 500);
      }
      if (buttonId === "prev") {
        //starts at the last index
        //
        autoRemoveDataset(projectCards?.[currFacingCard], "data-prev-exit", "true", "false", 500);
        currFacingCard =
          currFacingCard === 0 ? 2 % currProjCount : --currFacingCard % currProjCount;
        Math.floor((initialRotation += currentRotationDeg));

        autoRemoveDataset(projectCards?.[currFacingCard], "data-prev-enter", "true", "false", 500);
      }

      style.setProperty("--current-rotation-value", `${initialRotation}deg`);
    });
  });
</script>

<Layout title="HomePage">
  <section class="flex size-full flex-col items-center gap-8 text-clip md:gap-4">
    <article class="w-fit gap-4 sm:grid sm:justify-center sm:gap-x-4 xl:gap-x-8 xl:p-2">
      <h1 class="text-3xl sm:col-start-2 sm:self-end
            sm:justify-self-start md:text-4xl">
        Hi, I am <strong class="block">Churchill Jay Sungcados</strong>
      </h1>
      <p
        class="my-4 inline-block bg-rose-500 p-2 text-lg font-semibold text-gray-50
            sm:col-start-1 sm:col-end-3 sm:row-start-2
            sm:self-start sm:text-end md:py-2 md:text-2xl"
      >
        A Font-End Developer
      </p>
      <Image
        src={profileImg}
        alt="profile picture for portfolio"
        class="sm:relative sm:z-10 sm:col-start-1 sm:row-start-1 sm:row-end-3 sm:w-11/12 sm:justify-self-end md:z-0 md:w-5/6"
      />
    </article>

    <aside class="grid-custom-template relative grid w-full grow px-4">
      <h2
        class:list={[
          "absolute bottom-[calc(100%-1rem)] md:bottom-[calc(100%-4rem)] lg:bottom-[calc(100%-3rem)] text-5xl md:text-7xl font-bold text-primary",
          "after:absolute  after:font-bold after:inset-0 after:content-[attr(data-title)] after:z-10 after:[-webkit-text-stroke:2px_hsl(var(--foreground))] after:[text-stroke:2px_hsla(var(--foreground))] after:text-transparent ",
        ]}
        data-title="Featured"
      >
        Featured
      </h2>

      <div
        class="group relative z-[2] h-full w-[clamp(20rem,100%,64rem)] overflow-hidden md:overflow-visible"
      >
        <button
          id="prev"
          class:list={[
            "absolute left-0 top-1/2 z-10 h-1/4 w-fit -translate-y-1/2 border p-1 backdrop-blur-md active:scale-95 md:p-2 lg:p-4",
            "group-hover:block group-focus-visible:block hocus-visible:outline hocus-visible:outline-1 hoverable:hidden ",
          ]}
          data-length={project.length}
          ><CircleChevronLeft className=" hocus-visible:scale-110 md:size-8" /></button
        >
        <button
          id="next"
          class:list={[
            "absolute right-0 top-1/2 z-10 h-1/4 w-fit -translate-y-1/2 border p-1 backdrop-blur-md active:scale-95 md:p-2 lg:p-4",
            "group-hover:block group-focus-visible:block hocus-visible:outline hocus-visible:outline-1 hoverable:hidden",
          ]}
          data-length={project.length}
          ><CircleChevronRight className="hocus-visible:scale-110 md:size-8" /></button
        >
        <div
          id="cards-parent"
          class:list={" size-full custom-div grid place-items-center"}
          style=`--quantity:${project.length}`
        >
          {
            project.map(
              ({ description, name, imageUrl, liveUrl, repoUrl, imageKey, techStacks }, index) => {
                const techStacksArrFiltered = TECH_STACKS.filter((stack) =>
                  techStacks.includes(stack.stackName)
                );
                return (
                  <div
                    data-enter={false}
                    data-exit={false}
                    data-prev-enter={false}
                    data-prev-exit={false}
                    class:list={[
                      "  size-full flex flex-col justify-around  p-4 shadow-elevate-light backdrop-blur dark:shadow-elevate-dark text-foreground ",
                      "projectCard relative custom-item bg-background [grid-area:1/1] [backface-visibility:hidden] md:[backface-visibility:visible] ",
                      "exit-animation-next enter-animation-next enter-animation-prev exit-animation-prev",
                    ]}
                    style={`--position:${index + 1}`}
                  >
                    <Image
                      class:list={["size-full rounded-lg object-cover aspect-video object-center"]}
                      src={imageUrl}
                      alt="sample page"
                      inferSize={true}
                    />

                    <h3 class:list={["text-center text-xl font-bold capitalize"]}>{name}</h3>

                    <div class:list={["absolute bottom-0 left-0 w-full backdrop-blur  "]}>
                      <p class="mb-2 leading-6">{description}</p>
                      <div class="flex w-full flex-wrap items-center justify-around gap-4">
                        <a
                          href={repoUrl}
                          target="_blank"
                          class="flex items-center gap-2 text-lg transition-all hover:scale-110 focus:border-b focus:outline-none active:animate-ping"
                        >
                          <GithubIcon className="size-6 fill-foreground " />
                          repository
                        </a>
                        <a
                          href={liveUrl}
                          target="_blank"
                          class="flex items-center gap-2 text-lg transition-all hover:scale-110 focus:border-b focus:outline-none active:animate-ping"
                        >
                          <Globe className="size-6 text-foreground " />
                          live site
                        </a>
                        <div
                          id="stack-div"
                          class="hover-siblings-animation flex items-center gap-2 *:size-6"
                        >
                          {techStacksArrFiltered.map(({ href, Logo }) => (
                            <a href={href} target="_blank" rel="noopener noreferrer">
                              <Logo />
                            </a>
                          ))}
                        </div>
                      </div>
                    </div>
                  </div>
                );
              }
            )
          }
        </div>
      </div>
    </aside>
  </section>
</Layout>

<style>
  @property --current-rotation-value {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }
  .custom-div {
    transform-style: preserve-3d;
    transition: transform 0.55s ease-in-out;
    transform: perspective(1800px) rotateY(var(--current-rotation-value));
  }
  .custom-item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(350px) scaleX(0.8) scaleY(0.8);
  }

  .enter-animation-prev[data-prev-enter="true"] *:not(img) {
    transform: translateX(-1000px);
    visibility: hidden;
    animation: enter 500ms linear 1 forwards;
  }

  .enter-animation-next[data-enter="true"] *:not(img) {
    transform: translateX(1000px);
    visibility: hidden;
    animation: enter 500ms linear 1 forwards;
  }

  @keyframes enter {
    to {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .exit-animation-prev[data-prev-exit="true"] *:not(img) {
    transform: translateX(0);
    visibility: visible;
    animation: exit-prev 500ms linear 1 forwards;
  }

  @keyframes exit-prev {
    to {
      transform: translateX(1000px);
      visibility: hidden;
    }
  }

  .exit-animation-next[data-exit="true"] *:not(img) {
    transform: translateX(0);
    visibility: visible;
    animation: exit-next 500ms linear 1 forwards;
  }

  @keyframes exit-next {
    to {
      transform: translateX(-1000px);
      visibility: hidden;
    }
  }

  .grid-custom-template {
    gap: 1rem;
    grid-template-columns: [content-start]1fr [content-end];
    grid-template-rows:
      [ title-start content-start] auto
      [ title-end] 1fr [ content-end];
  }

  .grid-custom-template > h2 {
    place-self: center;
    grid-area: title;
  }
  .grid-custom-template > div {
    place-self: center;
    grid-area: content;
  }

  @media (min-width: 768px) {
    .custom-item {
      transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(250px) scaleX(0.7) scaleY(0.7);
    }
  }
  @media (min-width: 1024px) {
    .custom-item {
      transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(400px) scaleX(0.7) scaleY(0.7);
    }
  }

  @media (min-width: 1536px) {
    .custom-item {
      transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px) scaleX(0.7) scaleY(0.7);
    }
  }
</style>
