---
import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
import profileImg from "@/assets/profile.png";

const projectArr = [
  { id: 1, profileImg, projectName: "Project 1", description: "Project description" },
  { id: 2, profileImg, projectName: "Project 2", description: "Project description" },
  { id: 3, profileImg, projectName: "Project 3", description: "Project description" },
  { id: 4, profileImg, projectName: "Project 4", description: "Project description" },
  { id: 5, profileImg, projectName: "Project 5", description: "Project description" },
  { id: 6, profileImg, projectName: "Project 6", description: "Project description" },
];
---

<Layout title="Projects">
  <section class="grid grid-cols-3 gap-4 p-4">
    {
      projectArr.map(({ id, profileImg, projectName, description }) => (
        <ProjectCard
          description={description}
          projectName={projectName}
          profileImg={profileImg}
          projectName={projectName}
          id={id}
        />
      ))
    }
  </section>
</Layout>
