---
import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
import profileImg from "@/assets/profile.png";

const projectArr = [
  { id: 1, profileImg, projectName: "Project 1", description: "Project description" },
  { id: 2, profileImg, projectName: "Project 2", description: "Project description" },
  { id: 3, profileImg, projectName: "Project 3", description: "Project description" },
  { id: 4, profileImg, projectName: "Project 4", description: "Project description" },
  { id: 5, profileImg, projectName: "Project 5", description: "Project description" },
  { id: 6, profileImg, projectName: "Project 6", description: "Project description" },
];
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const projectDiv = document.getElementById("project-section");
    if (projectDiv) {
      projectDiv.addEventListener("mousemove", (event) => {
        const x = event.x;
        const y = event.y;

        projectDiv.style.setProperty("--mouse-x", `${x}px`);
        projectDiv.style.setProperty("--mouse-y", `${y}px`);
      });
    }
  });
</script>

<Layout title="Projects">
  <section
    class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))] gap-4 p-4"
    id="project-section"
  >
    {
      projectArr.map(({ id, profileImg, projectName, description }) => (
        <ProjectCard
          description={description}
          projectName={projectName}
          profileImg={profileImg}
          projectName={projectName}
          cardId={id}
          class:list="bg-radial"
        />
      ))
    }
  </section>
</Layout>

<style>
  @property --mouse-x {
    syntax: "<length>";
    inherits: true;
    initial-value: 50%;
  }

  @property --mouse-y {
    syntax: "<length>";
    inherits: true;
    initial-value: 50%;
  }

  .bg-radial {
    background-attachment: fixed;
    background-image: radial-gradient(
      10rem circle at var(--mouse-x) var(--mouse-y),
      red,
      transparent
    );
  }
</style>
