---
import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
import profileImg from "@/assets/profile.png";
import { Dialog, DialogButton } from "@/components/react-components/Dialog";

const projectArr = [
  { id: 1, profileImg, projectName: "Project 1", description: "Project description" },
  { id: 2, profileImg, projectName: "Project 2", description: "Project description" },
  { id: 3, profileImg, projectName: "Project 3", description: "Project description" },
  { id: 4, profileImg, projectName: "Project 4", description: "Project description" },
  { id: 5, profileImg, projectName: "Project 5", description: "Project description" },
  { id: 6, profileImg, projectName: "Project 6", description: "Project description" },
];
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const projectDiv = document.getElementById("project-section");
    if (projectDiv) {
      projectDiv.addEventListener("mousemove", (event) => {
        const x = event.x;
        const y = event.y;

        projectDiv.style.setProperty("--mouse-x", `${x}px`);
        projectDiv.style.setProperty("--mouse-y", `${y}px`);
      });
    }
  });
</script>

<Layout title="Projects">
  <section
    class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))] gap-4 p-4"
    id="project-section"
  >
    {
      projectArr.map(({ id, profileImg, projectName, description }) => (
        <div
          class:list={[
            "rounded-md after:rounded-md relative bg-fixed after:hover:bg-foreground/50 after:shadow-elevate-light after:dark:shadow-elevate-dark bg-radial hover:backdrop-grayscale",
          ]}
        >
          <DialogButton client:load className="w-full">
            <ProjectCard
              description={description}
              projectName={projectName}
              profileImg={profileImg}
              cardId={id}
              class:list="bg-radial-front rounded-md bg-background bg-fixed shadow-none dark:shadow-none"
            />
          </DialogButton>
          <Dialog className="backdrop:bg-background/50" client:load>
            <ProjectCard
              description={description}
              projectName={projectName}
              profileImg={profileImg}
              cardId={id}
              class:list="bg-radial-front rounded-md bg-background bg-fixed shadow-none dark:shadow-none"
            />
          </Dialog>
        </div>
      ))
    }
  </section>
</Layout>

<style>
  @property --mouse-x {
    syntax: "<length>";
    inherits: false;
    initial-value: 50%;
  }

  @property --mouse-y {
    syntax: "<length>";
    inherits: false;
    initial-value: 50%;
  }

  @media (hover: hover) {
    .bg-radial-front {
      background-image: radial-gradient(
        8rem circle at var(--mouse-x) var(--mouse-y),
        hsl(var(--foreground) / 0.1),
        hsl(var(--foreground) / 0.0125)
      );
    }

    .bg-radial::after {
      content: "";
      position: absolute;
      inset: -2px;
      background-attachment: fixed;
      background-image: radial-gradient(
        circle at var(--mouse-x) var(--mouse-y),
        hsl(var(--primary)),
        transparent 10rem
      );
      pointer-events: none;
      z-index: -1;
    }
  }

  @media (hover: none) {
    .bg-radial::after {
      content: "";
      position: absolute;
      inset: -2px;
      pointer-events: none;
      z-index: -1;
    }
  }
</style>
